<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="/modules/home">
    <img src="assets/layout/images/logo.png" alt="logo" class="">
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars" aria-hidden="true"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v" aria-hidden="true"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

    <p-sidebar [(visible)]="showSideBar" appendTo="body" position="right" styleClass="w-15rem">
    </p-sidebar>
  </div>
</div>